@model UserAddDto

<div class="modal fade" id="userAddModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Kullanıcı Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-area="Admin" asp-controller="User" asp-action="Add" id="form-user-add">
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="row g-2 mb-3">
                        <div class="col-mb-0">
                            <label asp-for="FirstName" class="form-label">Ad</label>
                            <input asp-for="FirstName" class="form-control" placeholder="Ad giriniz" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-mb-0">
                            <label asp-for="LastName" class="form-label">Soyad</label>
                            <input asp-for="LastName" class="form-control" placeholder="Soyad giriniz" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-mb-0">
                            <label asp-for="Email" class="form-label">E-Posta</label>
                            <input asp-for="Email" class="form-control" placeholder="ornek@site.com" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-mb-0">
                            <label asp-for="PhoneNumber" class="form-label">Telefon</label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="05XX XXX XX XX" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-mb-0">
                            <label asp-for="Password" class="form-label">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-mb-0">
                            <label asp-for="RoleId" class="form-label">Rol</label>
                            <select asp-for="RoleId" asp-items="ViewBag.Roles" class="form-select">
                                <option value="">Rol Seçiniz...</option>
                            </select>
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">İptal</button>
                    <button type="button" class="btn btn-primary" data-save="modal">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>